/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}
.box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border: 2px solid #000;
}
h1{
  font-size: 1.3em;
  font-weight: 700;
}
.box::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #fff;
  animation: loading 4s linear alternate infinite;
  mix-blend-mode: difference;
}
@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
