/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c22;
}
.box{
  position: relative;
  width: 300px;
  height: 50px;
  border: 2px solid #fff;
  overflow: hidden;
}
.progress{
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  animation: loading 5s linear infinite;
}
@keyframes loading {
  0%{
    width: 0%;
  }
  5%{
    width: 5%;
  }
  10% {
    width: 10%;
  }
  15% {
    width: 15%;
  }
  20% {
    width: 20%;
  }
  25%{
    width: 25%;
  }
  30%{
    width: 30%;
  }
  35% {
    width: 35%;
  }
  40% {
    width: 40%;
  }
  45% {
    width: 45%;
  }
  50%{
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60% {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  70%{
    width: 70%;
  }
  75%{
    width: 75%;
  }
  80% {
    width: 80%;
  }
  85%{
    width: 85%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 95%;
  }
  100%{
    width: 100%;
  }
}
.progress::after{
  content: attr(data-progress);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  animation: percent 5s ease-in-out infinite;;
}
@keyframes percent{
    0%{
  content: "0%";
  }
  5%{
  content: "5%";
  }
  10% {
  content: "10%";
  }
  15% {
  content: "15%";
  }
  20% {
  content: "20%";
  }
  25%{
  content: "25%";
  }
  30%{
  content: "30%";
  }
  35% {
  content: "35%";
  }
  40% {
  content: "40%";
  }
  45% {
  content: "45%";
  }
  50%{
  content: "50%";
  }
  55% {
  content: "55%";
  }
  60% {
  content: "60%";
  }
  65% {
  content: "65%";
  }
  70%{
  content: "70%";
  }
  75%{
  content: "75%";
  }
  80% {
  content: "80%";
  }
  85%{
  content: "85%";
  }
  90% {
  content: "90%";
  }
  95% {
  content: "95%";
  }
  100%{
  content: "100%";
  }
}
